/* function calc(x / */

:root {
  --primary-text-color: #303030;
  --text-on-light: #555555;
  --text-on-dark: #9da4bd;
  --white-text-color: #ffffff;
  --accent-color: #ff6c00;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: "open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* button */
.button {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

.button.primary {
  color: var(--white-text-color);
}

.button.secondary {
  color: var(--primary-text-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2.1px;
}

.subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

/* heder */
.header {
  background-color: darkgrey;
}

.site-nav .link {
  color: var(--white-text-color);

  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.tel {
  color: var(--white-text-color);

  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #484747;
}

.social-link .link {
  color: var(--primary-text-color);

  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.social-link .link:hover,
.social-link .link:focus {
  color: var(--accent-color);
}

.phrases-opaciti {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;

  color: var(--white-text-color);
}

.hero-phrases {
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;

  color: var(--text-on-dark);
}

/* best barbershop*/
.about {
}

.section-phrases {
  color: var(--text-on-light);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

.section-phrases.description {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.28px;
}

/* services and prices */
.servis {
  background-color: rgb(78, 75, 75);
}

.servis-title {
  color: var(--white-text-color);
}

.prises-phrases {
  color: var(--text-on-dark);
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
}

/* preferense */
.preferense-phrases {
  color: var(--text-on-light);
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
}

.preferense-span {
  color: var(--primary-text-color);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2.1px;
}

.preferense-description {
  color: var(--primary-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
}

/* team */
.team {
  background-color: #f7f7f7;
}

.team-name {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.36px;
}

.team-description {
  color: var(--accent-color);
  line-height: 1.2;
  letter-spacing: 0.28px;
}

/* portfolio */

/* online booking */
.booking {
  background-color: #555555;
}

.booking-title {
  color: var(--white-text-color);
}

/* contacts */
.contacts {
  background-color: #555555;
}

.contact-title {
  color: var(--white-text-color);
}

.contacts .adres {
  color: var(--text-on-dark);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
}

.contacts .phone {
  color: var(--text-on-dark);
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
}

.contacts .mail {
  color: var(--text-on-dark);
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.contact-phrases {
  color: var(--white-text-color);
}

.contact-descriptions {
  color: var(--text-on-dark);
  font-size: 18px;
  line-height: calc(30 / 18); /* 166.667% */
  letter-spacing: 0.36px;
}

/* footer */

.copiright {
  color: var(--text-on-dark);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2.2px;
}

.footer .link {
  color: currentColor;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2.2px;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
